# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
*.user
*.spv
*.bg
*.bin

# IDEs, build and other folders
.cmake/
.idea/
.qtcreator/
.vscode/
asan/
build/*
default/
debug/
tsan/
source/build/
tmp/
.tmp/
doc/
reference/
__pycache__/
clean-checkout-gates/
tools/bin/
tools/veripb-venv/
tools/src/
benchmark-release-results*/
